[submodule "Source/ThirdParty/Mono"]
	path = Source/ThirdParty/Mono
	url = https://github.com/HBat11233/Mono
[submodule "Source/SourceCodeGenerator"]
	path = Source/SourceCodeGenerator
	url = https://github.com/HBat11233/SourceCodeGenerator
